<div class="price-title"><h4><%= @car.year %> <%= @car.make %></h4>
	
	<h4><%= @car.model %></h4>
	<a href="/cars/<%= @id %>/prices/new">Add your own price</a>
</div>
<% if @user != session[:current_user] %>
	<div class="error">
		<p><span class="error-message"><%= @errors %></span></p>
	</div>
<% else %>
	<div class="form-price-edit">
		<h5>Edit price:</h3>
		<form action="/cars/<%= @id %>/prices/<%= @price_id %>" method="post" id="edit">
			<input type="hidden" name="_method" value="put">
			<input class="field" type="text" name="cost" value="<%= @price.cost %>">
			<input class="form-button" type="submit" value="Submit">
			<% if !!@error_cost %>
			<div class="error">
				<p><span class="error-message"><%= @error_cost %></span></p>
			</div>
			<% end %>
		</form>
	</div>
<% end %>