<div class="price-title"><h4><%= @car.year %> <%= @car.make %></h4>
	<h4><%= @car.model %></h4>
</div>
<div class="price-list">
	
	<p class="price-main">$<%= @price.cost %></p>
	
	<p class="edit-price">
		<a href="/cars/<%= @id %>/prices/<%= @price_id %>/edit">edit</a>
	</p>

	<p class="submitted_by">Submitted by <%= @user.name %></p>
</div>
